### Pandas
- 데이터 분석을 위한 쉽고 성능이 좋은 오픈소스 python 라이브러리
- Series : index, value로 이루어진 데이터 타입
- DataFrame : index, column, value로 이루어진 데이터 타입
    - CRUD : create, read, update, delete
    - IO

In [1]:
import pandas as pd

In [ ]:
# 1. Series -> numpy array

In [2]:
datas = pd.Series([3, 1, 9])
datas

0    3
1    1
2    9
dtype: int64

In [3]:
list(datas.index), datas.values, datas.dtype

([0, 1, 2], array([3, 1, 9]), dtype('int64'))

In [ ]:
# 2. DateFrame = Matrix

In [ ]:
# create

In [ ]:
# 리스트 안에 딕셔너리 : row 데이터를 기준으로 저장

In [4]:
datas = [
    {"name": "peter", "email": "peter@gmail.com", "id": 1},
    {"name": "jhon", "email": "jhon@gmail.com", "id": 2},
    {"name": "andy", "email": "andy@naver.com", "id": 3},
]
df = pd.DataFrame(datas)
df

    name            email  id
0  peter  peter@gmail.com   1
1   jhon   jhon@gmail.com   2
2   andy   andy@naver.com   3

In [ ]:
# 딕셔너리 안에 리스트 : column 데이터를 기준으로 저장

In [5]:
datas = df.to_dict("list") # DataFrame -> dictionary
print(datas)
df = pd.DataFrame(datas)
df

{'name': ['peter', 'jhon', 'andy'], 'email': ['peter@gmail.com', 'jhon@gmail.com', 'andy@naver.com'], 'id': [1, 2, 3]}

    name            email  id
0  peter  peter@gmail.com   1
1   jhon   jhon@gmail.com   2
2   andy   andy@naver.com   3

In [6]:
list(df.index), list(df.columns), df.values

([0, 1, 2], ['name', 'email', 'id'], array([['peter', 'peter@gmail.com', 1],
        ['jhon', 'jhon@gmail.com', 2],
        ['andy', 'andy@naver.com', 3]], dtype=object))

In [9]:
df['name'].values

array(['peter', 'jhon', 'andy'], dtype=object)

In [10]:
df.dtypes

name     object
email    object
id        int64
dtype: object

In [ ]:
# read

In [11]:
# row : df.loc[row] : [index], [start:end], [start:end:stride]
# df.loc[1]
# df.loc[:1]
df.loc[::-1]

    name            email  id
2   andy   andy@naver.com   3
1   jhon   jhon@gmail.com   2
0  peter  peter@gmail.com   1

In [14]:
# column : df[column](Series), df[[columns]](DataFrame)
# df["name"]
df[["id", "name"]]
df[['id']] # DataFrame
df['id'] # Series

0    1
1    2
2    3
Name: id, dtype: int64

In [15]:
# row + column : df.loc[row, columns]
df.loc[1:, ["id", "name"]]

   id  name
1   2  jhon
2   3  andy

In [ ]:
# condition : df[df[column] condition]

In [16]:
# 브로드캐스팅
df["id"] % 2 != 0

0     True
1    False
2     True
Name: id, dtype: bool

In [ ]:
# df.apply(lambda x : 함수 또는 'x + 1')

In [22]:
df.name.apply(lambda x : x + '_name')

0    peter_name
1     jhon_name
2     andy_name
Name: name, dtype: object

In [26]:
def my_func(x) :
    return x

df.apply(lambda x : my_func(x))

    name            email  id
0  peter  peter@gmail.com   1
1   jhon   jhon@gmail.com   2
2   andy   andy@naver.com   3

In [18]:
df[df["id"] % 2 != 0]

    name            email  id
0  peter  peter@gmail.com   1
2   andy   andy@naver.com   3

In [ ]:
# update

In [27]:
df["id"] = 4
df

    name            email  id
0  peter  peter@gmail.com   4
1   jhon   jhon@gmail.com   4
2   andy   andy@naver.com   4

In [28]:
df["id"] = [5, 6, 7]
df

    name            email  id
0  peter  peter@gmail.com   5
1   jhon   jhon@gmail.com   6
2   andy   andy@naver.com   7

In [ ]:
# delete : df.drop(index=[], columns=[])

In [32]:
df2 = df.drop(index=[1], columns=["email"])
df2

    name  id
0  peter   5
2   andy   7

In [30]:
df

    name            email  id
0  peter  peter@gmail.com   5
1   jhon   jhon@gmail.com   6
2   andy   andy@naver.com   7

In [ ]:
# IO : .csv

In [34]:
# save
df.to_csv("user.csv", index=False)

In [35]:
%ls

sample_data/  user.csv

In [36]:
!cat user.csv

name,email,id
peter,peter@gmail.com,5
jhon,jhon@gmail.com,6
andy,andy@naver.com,7

In [37]:
# load
load_df = pd.read_csv("user.csv")
load_df

    name            email  id
0  peter  peter@gmail.com   5
1   jhon   jhon@gmail.com   6
2   andy   andy@naver.com   7

In [38]:
!pip install xlrd openpyxl xlsxwriter

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 7.5 MB/s
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [39]:
df.to_excel(
    "user.xlsx", index=False, engine="xlsxwriter", encoding="utf-8-sig"
)

In [40]:
%ls

sample_data/  user.csv  user.xlsx

In [41]:
load_df = pd.read_excel("user.xlsx")
load_df

    name            email  id
0  peter  peter@gmail.com   5
1   jhon   jhon@gmail.com   6
2   andy   andy@naver.com   7