#백준 사이트

참고한 단계별 백준 문제
https://www.acmicpc.net/step

# 1단계 입출력과 사칙연산

In [ ]:
# 1
# Hello World!를 출력하시오.

print('Hello World!')

Hello World!

In [ ]:
# 2
# ACM-ICPC 인터넷 예선, Regional, 그리고 World Finals까지 이미 2회씩 진출해버린 kriii는 미련을 버리지 못하고 왠지 모르게 올해에도 파주 World Finals 준비 캠프에 참여했다.
# 대회를 뜰 줄 모르는 지박령 kriii를 위해서 격려의 문구를 출력해주자.

print('강한친구 대한육군')
print('강한친구 대한육군')

강한친구 대한육군
강한친구 대한육군

In [ ]:
# 3
# 아래 예제와 같이 고양이를 출력하시오.

# \    /\
#  )  ( ')
# (  /  )
#  \(__)|

print('\    /\\')
print(" )  ( ')")
print('(  /  )')
print(' \\(__)|')

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
# 4
# 아래 예제와 같이 개를 출력하시오.

# |\_/|
# |q p|   /}
# ( 0 )"""\
# |"^"`    |
# ||_/=\\__|

print('|\\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|\"^"\`    |')
print('||_/=\\\\__|')

# 틀림!

|\_/|
|q p|   /}
( 0 )"""\
|"^"\₩    |
||_/=\\__|

In [ ]:
# 4-1
# 아래 예제와 같이 새싹을 출력하시오.

#          ,r'"7
# r`-_   ,'  ,/
#  \. ". L_r'
#    `~\/
#       |
#       |

print('         ,r\'\"7')
print('r`-_   ,\'  ,/')
print(' \\. ". L_r\'')
print('   `~\\/')
print('      |')
print('      |')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

In [ ]:
# 5
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

# 입력 : 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

# 출력 : 첫째 줄에 A+B를 출력한다.

a = int(input())
b = int(input())
print(a+b)
# 런타임에러

a, b = map(int, input().split())
print(a+b)
# spilt() : 변수를 나누어 리스트로 저장하는 용도
# map() : map(함수, 리스트) 입력받은 요소의 수행된 결과를 묶어서 반환하는 함수
# 따라서, input()을 공백을 기준으로 나누어 리스트로 저장, int함수를 사용
a, b = map(int, [20,35])
print(a);print(b)

3
4
7
3 7
10
20
35

In [ ]:
# 6
# 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 첫째 줄에 A-B를 출력한다.

a, b = map(int, input().split())
print(a-b)

5 3
2

In [ ]:
# 7
# 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 첫째 줄에 A×B를 출력한다.

a, b = map(int, input().split())
print(a*b)

4 5
20

In [ ]:
# 8
# 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 첫째 줄에 A/B를 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-9 이하이면 정답이다.

a, b = map(int, input().split())
print(a/b)

1 3
0.3333333333333333

In [ ]:
# 9
# 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
# 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
# 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.


a, b = map(int, input().split())

print(a+b)
print(a-b)
print(a*b)
print(a//b) # / : 나누기 // : 나눈 후 몫을 반환
print(a%b)

3 4
7
-1
12
0.75
3

In [ ]:
# 10
# 첫째 줄에 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어진다. 아이디는 알파벳 소문자로만 이루어져 있으며, 길이는 50자를 넘지 않는다.
# 첫째 줄에 준하의 놀람을 출력한다. 놀람은 아이디 뒤에 ??!를 붙여서 나타낸다.


id = input()
print(id+'??!')

joonas
joonas??!

In [ ]:
# 11
# 서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)
# 불기 연도를 서기 연도로 변환한 결과를 출력한다.

y=int(input())
print(y-543)

2541
1998

In [ ]:
# 12
# 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)
# 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

a, b, c = map(int, input().split())
print((a+b)%c) 
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

# % : 나눈 후 나머지 반환

5 8 4
1
1
0
0

In [ ]:
# 13
# 첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.
# 첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

a = int(input())
b= str(input())

print( a * int(b[2]) )
print( a * int(b[1]) )
print( a * int(b[0]) )
print( a * int(b) )

472
385
2360
3776
1416
181720

# 2단계 조건문

In [ ]:
# 1
# 첫째 줄에 A와 B가 주어진다. A와 B는 공백 한 칸으로 구분되어져 있다.

# 첫째 줄에 다음 세 가지 중 하나를 출력한다.

# A가 B보다 큰 경우에는 '>'를 출력한다.
# A가 B보다 작은 경우에는 '<'를 출력한다.
# A와 B가 같은 경우에는 '=='를 출력한다.

# 제한 : -10,000 ≤ A, B ≤ 10,000

A, B = map(int, input().split())

if A > B :
    print('>')
elif A < B :
    print('<')
elif A == B :
    print('==')

300 500
<

In [ ]:
# 2
# 시험 점수를 입력받아 90 ~ 100점은 A,
# 80 ~ 89점은 B, 70 ~ 79점은 C, 
# 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

num = int(input())

if 90 <= num <= 100 :
    print('A')
elif 80 <= num < 90 :
    print('B')
elif 70 <= num < 80 :
    print('C')
elif 60 <= num < 70 :
    print('D')
else :
    print('F')

86
B

In [ ]:
# 3
# 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.
# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
# 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 
# 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 
# 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

y = int(input())

if (y % 4 == 0 and y % 100 != 0) or y % 400 == 0 :
    print(1)
else :
    print(0)

2000
1

In [ ]:
# 4
# 흔한 수학 문제 중 하나는 주어진 점이 어느 사분면에 속하는지 알아내는 것이다. 
# 사분면은 아래 그림처럼 1부터 4까지 번호를 갖는다. "Quadrant n"은 "제n사분면"이라는 뜻이다.
# 예를 들어, 좌표가 (12, 5)인 점 A는 x좌표와 y좌표가 모두 양수이므로 제1사분면에 속한다. 
# 점 B는 x좌표가 음수이고 y좌표가 양수이므로 제2사분면에 속한다.
# 점의 좌표를 입력받아 그 점이 어느 사분면에 속하는지 알아내는 프로그램을 작성하시오. 
# 단, x좌표와 y좌표는 모두 양수나 음수라고 가정한다.

x = int(input())
y = int(input())

if x > 0 and y > 0 :
    print('1')
elif x < 0 and y > 0 :
    print('2')
elif x < 0 and y < 0 :
    print('3')
else :
    print('4')

3
-1
4

In [ ]:
# 5
# 첫째 줄에 두 정수 H와 M이 주어진다. 
# (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 그리고 이것은 현재 상근이가 설정한 놓은 알람 시간 H시 M분을 의미한다.
# 입력 시간은 24시간 표현을 사용한다. 
# 24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 
# 시간을 나타낼 때, 불필요한 0은 사용하지 않는다.


H, M = map(int, input().split())

if M > 44 :
    print(H, M-45)
elif H > 0 and M < 45 :
    print(H-1, M+15)
else :
    print(23, M+15)

13 24
12 39

In [ ]:
# 6
# 첫째 줄에는 현재 시각이 나온다. 
# 현재 시각은 시 A (0 ≤ A ≤ 23) 와 분 B (0 ≤ B ≤ 59)가 정수로 빈칸을 사이에 두고 순서대로 주어진다. 
# 두 번째 줄에는 요리하는 데 필요한 시간 C (0 ≤ C ≤ 1,000)가 분 단위로 주어진다. 

# 첫째 줄에 종료되는 시각의 시와 분을 공백을 사이에 두고 출력한다. 
# (단, 시는 0부터 23까지의 정수, 분은 0부터 59까지의 정수이다. 
# 디지털 시계는 23시 59분에서 1분이 지나면 0시 0분이 된다.)


H, M = map(int, input().split())
C = int(input())
H = ( H + int((M+C)/60) ) % 24
M = int(( M+C ) % 60)
print(H,M)

25 10
90
2 40

In [ ]:
# # 7
# 1에서부터 6까지의 눈을 가진 3개의 주사위를 던져서 다음과 같은 규칙에 따라 상금을 받는 게임이 있다. 

# 같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금을 받게 된다. 
# 같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금을 받게 된다. 
# 모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금을 받게 된다.  
# 예를 들어, 3개의 눈 3, 3, 6이 주어지면 상금은 1,000+3×100으로 계산되어 1,300원을 받게 된다. 또 3개의 눈이 2, 2, 2로 주어지면 10,000+2×1,000 으로 계산되어 12,000원을 받게 된다. 3개의 눈이 6, 2, 5로 주어지면 그중 가장 큰 값이 6이므로 6×100으로 계산되어 600원을 상금으로 받게 된다.

# 3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램을 작성 하시오.

# 첫째 줄에 3개의 눈이 빈칸을 사이에 두고 각각 주어진다. 
# 첫째 줄에 게임의 상금을 출력 한다.


a, b, c =map(int,input().split())

if a == b == c :
    print( 10000 + a * 1000 )
elif a == b :
    print( 1000 + a*100 )
elif a == c :
    print ( 1000 + a*100 )
elif b == c :
    print( 1000 + b*100 )
else :
    print(100*max(a,b,c))

# max함수 사용

5 2 6
600

# 3단계 반복문

In [ ]:
# 1.
# N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.
# 첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.
# 출력형식과 같게 N*1부터 N*9까지 출력한다.

n = int(input())

for j in range(1,10) :
    print(f'{n} * {j} = {n*j}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
# 2
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 각 테스트 케이스마다 A+B를 출력한다.

T = int(input())

for i in range(T) :
    a, b = map(int, input().split())
    print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
# 3
# n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.
# 첫째 줄에 n (1 ≤ n ≤ 10,000)이 주어진다.
# 1부터 n까지 합을 출력한다.

n = int(input())
total = 0

for i in range(1, n+1) :
    total += i
print(total)

5
15

In [ ]:
# 4
# 첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 
# 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.
# 각 테스트케이스마다 A+B를 한 줄에 하나씩 순서대로 출력한다.

import sys

T = int(sys.stdin.readline())

for i in range(T) :
    a, b = map(int, sys.stdin.readline().split())
    print(a+b)

# sys.stdin.readline() == input()
# 구글 코랩에서는 sys.stdin.readline() 작동 X

ValueError: ignored

sys 모듈은 파이썬 인터프리터가 제공하는 변수와 함수를 직접 제어할 수 있게 해주는 모듈

input과 sys.stdin.readline의 차이점
- input() 내장 함수는 parameter로 prompt message를 받을 수 있다. 따라서 입력받기 전 prompt message를 출력해야 한다.

- 하지만, sys.stdin.readline()은 prompt message를 인수로 받지 않는다.

- input() 내장 함수는 입력받은 값의 개행 문자를 삭제시켜서 리턴한다. 즉 입력받은 문자열에 rstrip() 함수를 적용시켜서 리턴한다.

- 반면에 sys.stdin.readline()은 개행 문자를 포함한 값을 리턴한다.

In [ ]:
# 5
# 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.
# 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.
# 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

n = int(input())

for i in range(1, n+1) :
    print(i)

5
1
2
3
4
5

In [ ]:
# 6
# 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.
# 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.
# 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

n = int(input())

for i in range(n, 0, -1) :
    print(i)

5
5
4
3
2
1

In [ ]:
# 7
# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

T = int(input())

for i in range(T) :
    a, b = map(int, input().split())
    print(f'Case #{i+1}: {a+b}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [ ]:
# 8
# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. 
# x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

T = int(input())

for i in range(T) :
    a, b = map(int, input().split())
    print(f'Case #{i+1}: {a} + {b} = {a+b}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [ ]:
# 9
# 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
# 첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

a = int(input())

for i in range(a) :
    print('*' * (i+1))

5
*
**
***
****
*****

In [ ]:
# 10
# 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
# 첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.
# 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.


a = int(input())

for i in range(a) :
    print(" " * (a-i-1)+'*' * (i+1) )

5
    *
   **
  ***
 ****
*****

In [ ]:
# 11
# 첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000)
# 둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.
# X보다 작은 수를 입력받은 순서대로 공백으로 구분해 출력한다. X보다 작은 수는 적어도 하나 존재한다.

N, X = map(int, input().split())

A = list(map(int, input().split()))

for i in range(N) :
    if A[i] < X :
        print(A[i], end = " ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# 12
# 입력은 여러 개의 테스트 케이스로 이루어져 있다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 입력의 마지막에는 0 두 개가 들어온다.
# 각 테스트 케이스마다 A+B를 출력한다.

while True :
    a, b = map(int, input().split())
    if a == 0 and b == 0 :
        break
    print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [ ]:
# 13
# 입력은 여러 개의 테스트 케이스로 이루어져 있다.
# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)
# 각 테스트 케이스마다 A+B를 출력한다.

while True :
    try :
        a, b = map(int, input().split())
    except :
        break
    print(a+b)

# while 문의 try, break
# 1. try : 구동시킬 코드
# 2. except : try에서 구동되는 코드 실행시 에러가 발생하면 할 동작

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
r

In [ ]:
# 14
# 0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 
# 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 
# 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.
# 26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.
# 위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.
# N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.
# 첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다.
# 첫째 줄에 N의 사이클 길이를 출력한다.

n = int(input())
num = n
count = 0

while True :
    a = num // 10 # 몫
    b = num % 10 # 나머지
    c = (a+b) % 10 # 나머지
    num = (b * 10) + c

    count += 1
    if num == n :
        break

print(count)

88
20

# 4단계 1차원 배열

In [ ]:
# 1
# 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 
# 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.
# 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

n = int(input())
my_list = list(map(int, input().split()))
print(min(my_list), max(my_list))

5
20 10 35 30 7
7 35

In [ ]:
# 2
# 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.
# 예를 들어, 서로 다른 9개의 자연수
# 3, 29, 38, 12, 57, 74, 40, 85, 61
# 이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.
# 첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

num = [ int(input()) for _ in range(9) ]

print(max(num));print(num.index(max(num))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
# 3
# 세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 
# 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.
# 예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 
# 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.


a = int(input())
b = int(input())
c = int(input())
num = str(a * b * c)
my_list = list(num)

for i in range(10):
    print(my_list.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
# 4
# 두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 
# 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 
# 수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 
# 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.
# 첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.


my_list = []
for i in range(10):
    n = int(input())
    my_list.append(n % 42)
my_list = set(my_list)
print(len(my_list))

42
84
252
420
840
126
42
84
420
126
1

In [ ]:
# 5
# "OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. 
# O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 
# 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 
# 예를 들어, 10번 문제의 점수는 3이 된다.

# "OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

# OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.
# 첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 
# 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.
# 각 테스트 케이스마다 점수를 출력한다.

# t = int(input())


# for i in range(t) :
#     a = input()
#     for j in a :
#         o_total = 0
#         if j == 'O' :
#             j = 1
#             o_total += j
#             print(o_total)

#         elif j == 'X' :
#             print(0)
            
t = int(input())
for i in range(t) :
    a = input()
    my_list = list(a)
    sum = 0
    c = 1
    for i in my_list :
        if i == 'O':
            sum += c
            c += 1
        else :
            c = 1
    print(sum)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
# 6
# 첫째 줄에는 테스트 케이스의 개수 C가 주어진다.
# 둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 
# 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.
# 각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

n = int(input())

for _ in range(n) :
    num = list(map(int, input().split()))
    avg = sum(num[1:]) / num[0]
    count = 0
    for i in range(1, len(num)) :
        if num[i] > avg :
            count += 1

    per = count/num[0]*100
    print('%3f' %per + '%')

2
5 50 50 70 80 100

TypeError: ignored

In [ ]:
# 7 스페셜 져지
# 세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 
# 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.
# 예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.
# 첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 
# 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.
# 첫째 줄에 새로운 평균을 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-2 이하이면 정답이다.

n = int(input())
score = list(map(int, input().split()))
max_score = max(score)

sum = 0

for i in range(n) :
    score[i] = score[i]/max_score*100
    sum += score[i]
print(sum/n)

3
40 80 60

TypeError: ignored

# 5단계 함수

In [ ]:
# 1 정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.
# def solve(a: list) -> int
# a: 합을 구해야 하는 정수 n개가 저장되어 있는 리스트 (0 ≤ a[i] ≤ 1,000,000, 1 ≤ n ≤ 3,000,000)
# 리턴값: a에 포함되어 있는 정수 n개의 합 (정수)

def solve(a) :
    return sum(a)

In [ ]:
# # 2
# 양의 정수 n이 주어졌을 때, 이 수를 시작해서 n, d(n), d(d(n)), d(d(d(n))), ...과 같은 무한 수열을 만들 수 있다. 
# 예를 들어, 33으로 시작한다면 다음 수는 33 + 3 + 3 = 39이고, 그 다음 수는 39 + 3 + 9 = 51, 다음 수는 51 + 5 + 1 = 57이다. 이런식으로 다음과 같은 수열을 만들 수 있다.
# 33, 39, 51, 57, 69, 84, 96, 111, 114, 120, 123, 129, 141, ..
# n을 d(n)의 생성자라고 한다. 위의 수열에서 33은 39의 생성자이고, 39는 51의 생성자, 51은 57의 생성자이다. 생성자가 한 개보다 많은 경우도 있다. 예를 들어, 101은 생성자가 2개(91과 100) 있다. 
# 생성자가 없는 숫자를 셀프 넘버라고 한다. 100보다 작은 셀프 넘버는 총 13개가 있다. 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97
# 10000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 출력하는 프로그램을 작성하시오.


num = set(range(1,10001))
rmv = set()

for i in range(1,10001) :
    for j in str(i) :
        i += int(j)
    rmv.add(i)
num -= rmv
for k in sorted(num) :
    print(k)

1
3
5
7
9
20
31
42
53
64
75
86
97
108
110
121
132
143
154
165
176
187
198
209
211
222
233
244
255
266
277
288
299
310
312
323
334
345
356
367
378
389
400
411
413
424
435
446
457
468
479
490
501
512
514
525
536
547
558
569
580
591
602
613
615
626
637
648
659
670
681
692
703
714
716
727
738
749
760
771
782
793
804
815
817
828
839
850
861
872
883
894
905
916
918
929
940
951
962
973
984
995
1006
1021
1032
1043
1054
1065
1076
1087
1098
1109
1111
1122
1133
1144
1155
1166
1177
1188
1199
1210
1212
1223
1234
1245
1256
1267
1278
1289
1300
1311
1313
1324
1335
1346
1357
1368
1379
1390
1401
1412
1414
1425
1436
1447
1458
1469
1480
1491
1502
1513
1515
1526
1537
1548
1559
1570
1581
1592
1603
1614
1616
1627
1638
1649
1660
1671
1682
1693
1704
1715
1717
1728
1739
1750
1761
1772
1783
1794
1805
1816
1818
1829
1840
1851
1862
1873
1884
1895
1906
1917
1919
1930
1941
1952
1963
1974
1985
1996
2007
2022
2033
2044
2055
2066
2077
2088
2099
2110
2112
2123
2134
2145
2156
2167
2178
2189
2200
2211
2213
2224
2235
2246
2257
2268
2279
2290
2301
2312
2314
2325
2336
2347
2358
2369
2380
2391
2402
2413
2415
2426
2437
2448
2459
2470
2481
2492
2503
2514
2516
2527
2538
2549
2560
2571
2582
2593
2604
2615
2617
2628
2639
2650
2661
2672
2683
2694
2705
2716
2718
2729
2740
2751
2762
2773
2784
2795
2806
2817
2819
2830
2841
2852
2863
2874
2885
2896
2907
2918
2920
2931
2942
2953
2964
2975
2986
2997
3008
3023
3034
3045
3056
3067
3078
3089
3100
3111
3113
3124
3135
3146
3157
3168
3179
3190
3201
3212
3214
3225
3236
3247
3258
3269
3280
3291
3302
3313
3315
3326
3337
3348
3359
3370
3381
3392
3403
3414
3416
3427
3438
3449
3460
3471
3482
3493
3504
3515
3517
3528
3539
3550
3561
3572
3583
3594
3605
3616
3618
3629
3640
3651
3662
3673
3684
3695
3706
3717
3719
3730
3741
3752
3763
3774
3785
3796
3807
3818
3820
3831
3842
3853
3864
3875
3886
3897
3908
3919
3921
3932
3943
3954
3965
3976
3987
3998
4009
4024
4035
4046
4057
4068
4079
4090
4101
4112
4114
4125
4136
4147
4158
4169
4180
4191
4202
4213
4215
4226
4237
4248
4259
4270
4281
4292
4303
4314
4316
4327
4338
4349
4360
4371
4382
4393
4404
4415
4417
4428
4439
4450
4461
4472
4483
4494
4505
4516
4518
4529
4540
4551
4562
4573
4584
4595
4606
4617
4619
4630
4641
4652
4663
4674
4685
4696
4707
4718
4720
4731
4742
4753
4764
4775
4786
4797
4808
4819
4821
4832
4843
4854
4865
4876
4887
4898
4909
4920
4922
4933
4944
4955
4966
4977
4988
4999
5010
5025
5036
5047
5058
5069
5080
5091
5102
5113
5115
5126
5137
5148
5159
5170
5181
5192
5203
5214
5216
5227
5238
5249
5260
5271
5282
5293
5304
5315
5317
5328
5339
5350
5361
5372
5383
5394
5405
5416
5418
5429
5440
5451
5462
5473
5484
5495
5506
5517
5519
5530
5541
5552
5563
5574
5585
5596
5607
5618
5620
5631
5642
5653
5664
5675
5686
5697
5708
5719
5721
5732
5743
5754
5765
5776
5787
5798
5809
5820
5822
5833
5844
5855
5866
5877
5888
5899
5910
5921
5923
5934
5945
5956
5967
5978
5989
6000
6011
6026
6037
6048
6059
6070
6081
6092
6103
6114
6116
6127
6138
6149
6160
6171
6182
6193
6204
6215
6217
6228
6239
6250
6261
6272
6283
6294
6305
6316
6318
6329
6340
6351
6362
6373
6384
6395
6406
6417
6419
6430
6441
6452
6463
6474
6485
6496
6507
6518
6520
6531
6542
6553
6564
6575
6586
6597
6608
6619
6621
6632
6643
6654
6665
6676
6687
6698
6709
6720
6722
6733
6744
6755
6766
6777
6788
6799
6810
6821
6823
6834
6845
6856
6867
6878
6889
6900
6911
6922
6924
6935
6946
6957
6968
6979
6990
7001
7012
7027
7038
7049
7060
7071
7082
7093
7104
7115
7117
7128
7139
7150
7161
7172
7183
7194
7205
7216
7218
7229
7240
7251
7262
7273
7284
7295
7306
7317
7319
7330
7341
7352
7363
7374
7385
7396
7407
7418
7420
7431
7442
7453
7464
7475
7486
7497
7508
7519
7521
7532
7543
7554
7565
7576
7587
7598
7609
7620
7622
7633
7644
7655
7666
7677
7688
7699
7710
7721
7723
7734
7745
7756
7767
7778
7789
7800
7811
7822
7824
7835
7846
7857
7868
7879
7890
7901
7912
7923
7925
7936
7947
7958
7969
7980
7991
8002
8013
8028
8039
8050
8061
8072
8083
8094
8105
8116
8118
8129
8140
8151
8162
8173
8184
8195
8206
8217
8219
8230
8241
8252
8263
8274
8285
8296
8307
8318
8320
8331
8342
8353
8364
8375
8386
8397
8408
8419
8421
8432
8443
8454
8465
8476
8487
8498
8509
8520
8522
8533
8544
8555
8566
8577
8588
8599
8610
8621
8623
8634
8645
8656
8667
8678
8689
8700
8711
8722
8724
8735
8746
8757
8768
8779
8790
8801
8812
8823
8825
8836
8847
8858
8869
8880
8891
8902
8913
8924
8926
8937
8948
8959
8970
8981
8992
9003
9014
9029
9040
9051
9062
9073
9084
9095
9106
9117
9119
9130
9141
9152
9163
9174
9185
9196
9207
9218
9220
9231
9242
9253
9264
9275
9286
9297
9308
9319
9321
9332
9343
9354
9365
9376
9387
9398
9409
9420
9422
9433
9444
9455
9466
9477
9488
9499
9510
9521
9523
9534
9545
9556
9567
9578
9589
9600
9611
9622
9624
9635
9646
9657
9668
9679
9690
9701
9712
9723
9725
9736
9747
9758
9769
9780
9791
9802
9813
9824
9826
9837
9848
9859
9870
9881
9892
9903
9914
9925
9927
9938
9949
9960
9971
9982
9993

In [ ]:
# 3
# 어떤 양의 정수 X의 각 자리가 등차수열을 이룬다면, 그 수를 한수라고 한다. 
# 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다. 
# N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오. 
# 첫째 줄에 1,000보다 작거나 같은 자연수 N이 주어진다.
# 첫째 줄에 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력한다.

num = int(input())
ch = 0
for i in range(1, num+1) :
    t = list(map(int, str(i)))
    if i < 100 :
        ch += 1
    elif i >= 100 :
        if t[1]-t[0] == t[2]-t[1] :
            ch += 1
print(ch)

110
99

# 6단계 문자열

In [ ]:
# 1
# 알파벳 소문자, 대문자, 숫자 0-9 중 하나가 첫째 줄에 주어진다.
# 입력으로 주어진 글자의 아스키 코드 값을 출력한다.

a = input()
print(ord(a))

a
97

파이썬에서 아스키코드를 출력하는 함수

- ord( ) : 문자에 맞는 아스키코드 변환

- chr( ) : 아스키코드에 맞는 문자 반환

In [ ]:
# 2
# N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.
# 첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.
# 입력으로 주어진 숫자 N개의 합을 출력한다.

t = int(input())
num = list(input())
total = 0

for i in range(len(num)) :
    total += int(num[i])
print(total)

11
10987654321
46

In [ ]:
# 3
# 알파벳 소문자로만 이루어진 단어 S가 주어진다. 
# 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 
# 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.
# 첫째 줄에 단어 S가 주어진다. 단어의 길이는 100을 넘지 않으며, 알파벳 소문자로만 이루어져 있다.
# 각각의 알파벳에 대해서, a가 처음 등장하는 위치, b가 처음 등장하는 위치, 
# ... z가 처음 등장하는 위치를 공백으로 구분해서 출력한다.
# 만약, 어떤 알파벳이 단어에 포함되어 있지 않다면 -1을 출력한다. 
# 단어의 첫 번째 글자는 0번째 위치이고, 두 번째 글자는 1번째 위치이다.

alpha = input() # ord(alpha) 아스키코드 a : 97 ~ z : 122

alpha_list = list(range(97,123))

for i in alpha_list :
    print(alpha.find(chr(i)))  # chr() : 아스키코드에 맞는 문자 반환
    
# find : () 안에 들어가는 문자열의 시작 인덱스 반환, 값이 없는 경우 -1 반환

baekjoon
1
0
-1
-1
2
-1
-1
-1
-1
4
3
-1
-1
7
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [ ]:
# string find() method 

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)
print('')
# find() : () 안에 들어가는 문자열의 시작 인덱스 반환


txt = "Hello, welcome to my world."

x = txt.find("e") # default : 가장 처음 위치한 곳의 인덱스 반환

print(x)
print('')

txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10) # between position 5 and 10

print(x)

7

1

8
-1

In [ ]:
# 4
# 문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 
# 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. 
# S에는 QR Code "alphanumeric" 문자만 들어있다.
# QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.
# 첫째 줄에 테스트 케이스의 개수 T(1 ≤ T ≤ 1,000)가 주어진다. 
# 각 테스트 케이스는 반복 횟수 R(1 ≤ R ≤ 8), 문자열 S가 공백으로 구분되어 주어진다. 
# S의 길이는 적어도 1이며, 20글자를 넘지 않는다. 
# 각 테스트 케이스에 대해 P를 출력한다.

# t = int(input())
# total = ''

# for i in range(t) :
#     a, b = input().split()
#     for j in b :
#         total += int(a) * j
#     print(total)

t = int(input())

for i in range(t) :
    a, b = input().split()
    for i in range(len(b)) :
        print(int(a)*b[i], end='')
    print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
# 5
# 알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 
# 단, 대문자와 소문자를 구분하지 않는다.
# 첫째 줄에 알파벳 대소문자로 이루어진 단어가 주어진다. 주어지는 단어의 길이는 1,000,000을 넘지 않는다.
# 첫째 줄에 이 단어에서 가장 많이 사용된 알파벳을 대문자로 출력한다. 
# 단, 가장 많이 사용된 알파벳이 여러 개 존재하는 경우에는 ?를 출력한다.

word = input().upper()
unique_words = list(set(word)) # 입력받은 문자열에서 중복값을 제거

cnt_list = []
for i in unique_words :
    cnt = word.count(i)
    cnt_list.append(cnt) # count 숫자를 리스트에 append

if cnt_list.count(max(cnt_list)) > 1 : # count 숫자 최대값이 중복되면
    print('?')
else :
    max_index = cnt_list.index(max(cnt_list)) # count 숫자 최대값 인덱스(위치)
    print(unique_words[max_index])

Mississipi
?

In [ ]:
# 6
# 영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 이 문자열에는 몇 개의 단어가 있을까? 
# 이를 구하는 프로그램을 작성하시오. 
# 단, 한 단어가 여러 번 등장하면 등장한 횟수만큼 모두 세어야 한다.
# 첫 줄에 영어 대소문자와 공백으로 이루어진 문자열이 주어진다. 
# 이 문자열의 길이는 1,000,000을 넘지 않는다. 단어는 공백 한 개로 구분되며, 공백이 연속해서 나오는 경우는 없다. 
# 또한 문자열은 공백으로 시작하거나 끝날 수 있다.
# 첫째 줄에 단어의 개수를 출력한다.

word = input().strip()
word_list = list(word.split())

print(len(word_list))

The last character is a blank
6

In [ ]:
# 7
# 상근이의 동생 상수는 수학을 정말 못한다. 
# 상수는 숫자를 읽는데 문제가 있다. 
# 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 
# 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.
# 상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 
# 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 
# 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.
# 두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.
# 첫째 줄에 상근이가 칠판에 적은 두 수 A와 B가 주어진다. 
# 두 수는 같지 않은 세 자리 수이며, 0이 포함되어 있지 않다.
# 첫째 줄에 상수의 대답을 출력한다.


a, b = list(map(str, input().split()))

a = ''.join(reversed(a)) 
b = ''.join(reversed(b))

if int(a) > int(b) :
    print(int(a))
else :
    print(int(b))

# reverse, reversed 함수 https://rank-brothers.com/551/python-reverse-list/

839 237
938

In [ ]:
# 8
# 전화를 걸고 싶은 번호가 있다면, 숫자를 하나를 누른 다음에 금속 핀이 있는 곳 까지 시계방향으로 돌려야 한다. 
# 숫자를 하나 누르면 다이얼이 처음 위치로 돌아가고, 다음 숫자를 누르려면 다이얼을 처음 위치에서 다시 돌려야 한다.
# 숫자 1을 걸려면 총 2초가 필요하다. 
# 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.
# 상근이의 할머니는 전화 번호를 각 숫자에 해당하는 문자로 외운다. 
# 즉, 어떤 단어를 걸 때, 각 알파벳에 해당하는 숫자를 걸면 된다. 예를 들어, UNUCIC는 868242와 같다.
# 할머니가 외운 단어가 주어졌을 때, 이 전화를 걸기 위해서 필요한 최소 시간을 구하는 프로그램을 작성하시오.
# 첫째 줄에 알파벳 대문자로 이루어진 단어가 주어진다. 단어의 길이는 2보다 크거나 같고, 15보다 작거나 같다.
# 첫째 줄에 다이얼을 걸기 위해서 필요한 최소 시간을 출력한다.

dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
my= input()
time = 0

for i in range(len(my)) :
    for j in dial :
        if my[i] in j :
            time += dial.index(j) + 3

print(time)

UNUCIC
36

In [ ]:
# 9
# 예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 
# 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.
# dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. 
# lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.
# 첫째 줄에 최대 100글자의 단어가 주어진다. 알파벳 소문자와 '-', '='로만 이루어져 있다.
# 단어는 크로아티아 알파벳으로 이루어져 있다. 문제 설명의 표에 나와있는 알파벳은 변경된 형태로 입력된다.
# 입력으로 주어진 단어가 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.


my_list = ['c=', 'c-', 'dz=', 'd-',  'lj', 'nj', 's=', 'z=']
word = input()

for i in my_list :
    word = word.replace(i, '*')
print(len(word))

dsf
3

In [ ]:
# 10
# 그룹 단어란 단어에 존재하는 모든 문자에 대해서, 각 문자가 연속해서 나타나는 경우만을 말한다. 
# 예를 들면, ccazzzzbb는 c, a, z, b가 모두 연속해서 나타나고, kin도 k, i, n이 연속해서 나타나기 때문에 그룹 단어이지만, 
# aabbbccb는 b가 떨어져서 나타나기 때문에 그룹 단어가 아니다.
# 단어 N개를 입력으로 받아 그룹 단어의 개수를 출력하는 프로그램을 작성하시오.
# 첫째 줄에 단어의 개수 N이 들어온다. N은 100보다 작거나 같은 자연수이다. 둘째 줄부터 N개의 줄에 단어가 들어온다. 
# 단어는 알파벳 소문자로만 되어있고 중복되지 않으며, 길이는 최대 100이다.
# 첫째 줄에 그룹 단어의 개수를 출력한다.

t = int(input())
result = t

for i in range(t) :
    a = input()
    for j in range(0, len(a)-1) :
        if a[j] == a[j+1] :
            pass
        elif a[j] in a[j+1:] :
            result -= 1
            break
print(result)

4
abc
acabc
abcabc
a
2