# 201~210 파이썬 함수

In [ ]:
# 201
# "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coin() :
    print('비트코인')

In [ ]:
# 202
# 201번에서 정의한 함수를 호출하라.

print_coin()

# print(print_coin()) == None / return이 아닌 print를 사용했기 때문

비트코인

In [ ]:
# 203 
# 201번에서 정의한 print_coin 함수를 100번호출하라.

#print(print_coin() * 100) == Error / return이 아닌 print를 사용하여 Nonetype으로 인식

# 정답코드

for i in range(100) :
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 204 
# "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

def print_coins():
    for i in range(100) :
        print('비트코인')

In [ ]:
# 205 
# 아래의 에러가 발생하는 이유에 대해 설명하라.
# hello()
# def hello():
#     print("Hi")

# 실행 예
# NameError: name 'hello' is not defined



# 함수를 정의하기 전에 함수 호출부터 했기 때문, 일반적으로 모든 함수를 정의하고나서 함수 호출을 함 (에러 방지)

In [ ]:
# 206
# 아래 코드의 실행 결과를 예측하라.

# def message() :
#     print("A")
#     print("B")

# message()
# print("C")
# message()


# 예측
# A
# B
# C
# A
# B

In [ ]:
# 207
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

# print("A")

# def message() :
#     print("B")

# print("C")
# message()

# 예측
# A
# C
# B

In [ ]:
# 208
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

# print("A")
# def message1() :
#     print("B")
# print("C")
# def message2() :
#     print("D")
# message1()
# print("E")
# message2()

# 예측
# A
# C
# B
# E
# D

In [ ]:
# 209
# 아래 코드의 실행 결과를 예측하라.

# def message1():
#     print("A")

# def message2():
#     print("B")
#     message1()

# message2()

# 예측
# B
# A

In [ ]:
# 210
# 아래 코드의 실행 결과를 예측하라.

# def message1():
#     print("A")

# def message2():
#     print("B")

# def message3():
#     for i in range (3) :
#         message2()
#         print("C")
#     message1()

# message3()

# 예측
# B
# C
# B
# C
# B
# C
# A

# 211~220 파이썬 함수 2

In [ ]:
# 211
# 함수의 호출 결과를 예측하라.

# def 함수(문자열) :
#     print(문자열)

# 함수("안녕")
# 함수("Hi")

# 예측
# 안녕
# Hi

In [ ]:
# 212
# 함수의 호출 결과를 예측하라.

# def 함수(a, b) :
#     print(a + b)

# 함수(3, 4)
# 함수(7, 8)

# 예측
# 7
# 15

In [ ]:
# 213
# 아래와 같은 에러가 발생하는 원인을 설명하라.

# def 함수(문자열) :
#     print(문자열)

# 함수()
# TypeError: 함수() missing 1 required positional argument: '문자열'


# 원인
# 정의된 함수는 파라미터를 하나 받아야 실행되는 함수인데, 
# 함수 호출 시 파라미터 없이 ()만 사용하여 함수를 호출하였기 때문에 에러가 발생
# 즉 인자 없이 실행하였기 때문

# 매개변수(Parameter) : 함수를 정의하는 경우에 필요한 변수
# 인자(Argument) : 정의된 함수를 부를 때 매개변수의 값으로 넘겨주는 실제의 값

In [ ]:
# 214
# 아래와 같은 에러가 발생하는 원인을 설명하라.

# def 함수(a, b) :
#     print(a + b)

# 함수("안녕", 3)

# TypeError: must be str, not int


# 원인
# 정의된 함수는 a, b 파라미터를 입력받아 더하여 출력하는 함수인데
# 문자열과 정수형은 더하는 연산이 불가능한 데이터타입이므로 에러가 발생

In [ ]:
# 215
# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(x) :
    print(x + ':D')

In [ ]:
# 216
# 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

print_with_smile('안녕하세요')

안녕하세요:D

In [ ]:
# 217
# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

def print_upper_price(x) :
    print( x * 1.3 )

In [ ]:
# 218
# 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

def print_sum(a, b) :
    print(a+b)

In [ ]:
# 219
# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

def print_arithmetic_operation(a, b) :
    print(f'{a}+{b}={a+b})')
    print(f'{a}-{b}={a-b})')
    print(f'{a}*{b}={a*b})')
    print(f'{a}/{b}={a/b})')

In [ ]:
# 220
# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

def print_max(a, b, c) :
    if (a > b) and (a > c) :
        print(a)
    elif (b > c) and (b > a) :
        print(b)
    else :
        print(c)

# 정답코드
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

# 221~230 파이썬 함수 3

In [ ]:
# 221
# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

def print_reverse(x) :
    print(x[::-1])

In [ ]:
# 222
# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

def print_score(x) :
    total = 0
    for i in x :
        total += i
    print(total/len(x))
    
print_score([1,2,3])

# 정답코드
def print_score(x) :
    print(sum(x)/len(x))

print_score([1,2,3])

2.0
2.0

In [ ]:
# 223
# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

def print_even(x) :
    for i in x :
        if i % 2 == 0 :
            print(i)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
# 224
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

def print_keys(x) :
    for i in x.keys() :
        print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
# 225
# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, key):
    print(my_dict[key])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
# 226 
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

def print_5xn(x) :
    num = int(len(x) / 5)
    num = int(num + 0.9)
    for i in range(num) :
        print(x[i * 5 : i * 5 + 5])


print(print_5xn('아이엠어보이유알어걸'))

아이엠어보
이유알어걸
None

In [ ]:
# 227
# 문자열과 한줄에 출력될 글자 수를 입력을 받아 
# 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

import math

def print_mxn(string, num) :
    line = int(len(string)) / int(num)
    line = math.ceil(line)
    for i in range(line) :
        print(string[i * int(num) : i * int(num) + int(num) ])

print( print_mxn('아이엠어보이유알어걸', 3) )

아이엠
어보이
유알어
걸
None

In [ ]:
import math

math.ceil(2.1) # 올림

3

In [ ]:
# 228
# 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
# 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

def calc_monthly_salary(salary) :
    month = int(salary / 12)
    return(month)

print( '한달 월급은 ',calc_monthly_salary(22250000) )

한달 월급은  1854166

In [ ]:
# 229
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)


# 예측
# 왼쪽: 100
# 오른쪽: 200

왼쪽: 100
오른쪽: 200

In [ ]:
# 230
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

# 예측

# 왼쪽: 200
# 오른쪽: 100

왼쪽: 200
오른쪽: 100

# 231~240 파이썬 함수 4

In [ ]:
# 231
# 아래 코드를 실행한 결과를 예상하라.


def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

# 예측
# 에러 : result는 n_plus_1 안에서 정의된 지역변수라서 함수 내부에서 계산한 값을 전달하기 위해서는 return이 필요

NameError: ignored

In [ ]:
# 232
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

def make_url(x) :
    return f'www.{x}.com'

make_url('naver')

'www.naver.com'

In [ ]:
# 233
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.


def make_list(x) :
    my_list =  []
    for i in range(len(x)) :
        my_list.append(x[i])
    return my_list

print(make_list("abcd"))

# 정답코드

def make_list (string) :
    my_list = []
    for 변수 in string :
        my_list.append(변수)
    return my_list

print(make_list("abcd"))

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [ ]:
# 234
# 숫자로 구성된 하나의 리스트를 입력받아, 
# 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

def pickup_even(x) :
    my_list = [ ]
    for i in range(len(x)) :
        if int(x[i]) % 2 == 0 :
            my_list.append(int(x[i]))
    return my_list

print(pickup_even([3, 4, 5, 6, 7, 8]))


# 정답코드

def pickup_even(x) :
    my_list = []
    for i in x :
        if i % 2 == 0 :
            my_list.append(i)
    return my_list

print(pickup_even([3, 4, 5, 6, 7, 8]))

[4, 6, 8]
[4, 6, 8]

In [ ]:
# 235
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

def convert_int(x) :
    return int(x.replace(',',''))


convert_int("1,234,567")

1234567

In [ ]:
# 236
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

# 예측
# a = 14
# b = 18
# c= 22
# 즉,
# 22

22

In [ ]:
# 237
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

# 예측
# 22

22

In [ ]:
# 238
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

# 예측
# a = 14
# c = 140
# 즉,
# 140

140

In [ ]:
# 239
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

# 예측
# 16

16

In [ ]:
# 240
# 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

# 예측
# 28

28

# 241~250 파이썬 모듈

In [ ]:
# 241 
# datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요.

import datetime # module 파이썬 파일

datetime.datetime.now() # 묘듈.클래스.메소드

datetime.datetime(2022, 4, 30, 7, 0, 30, 745452)

In [ ]:
# 242
# datetime 모듈의 now 함수의 리턴 값의 타입을 화면에 출력해보세요.

import datetime

print(type(datetime.datetime.now()))

<class 'datetime.datetime'>

In [ ]:
# 243
# datetime 모듈의 timedelta를 사용해서 오늘로부터 5일, 4일, 3일, 2일, 1일 전의 날짜를 화면에 출력해보세요.

import datetime

now = datetime.datetime.now()

for day in range(5,0,-1):
    delta = datetime.timedelta(days=day) # timedelta 날짜를 앞뒤로 갈 수 있는 메소드
    date = now - delta
    print(date)

2022-04-25 07:04:41.795052
2022-04-26 07:04:41.795052
2022-04-27 07:04:41.795052
2022-04-28 07:04:41.795052
2022-04-29 07:04:41.795052

In [ ]:
# 244
# 현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. 
# strftime 메서드를 사용하세요.
# 18:35:01 

import datetime

now = datetime.datetime.now()

a = now.strftime('%H:%M:%S') # H, h는 다름

print(a, type(a))

11:24:15 <class 'str'>

In [ ]:
# 245
# datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. 
# "2020-05-04"의 문자열을 시간 타입으로 변환해보세요.

import datetime

day = "2020-05-04"

date = datetime.datetime.strptime(day, '%Y-%m-%d') # 문자열 -> 시간타입 (적절하게 연산하기 위하여)

print(date, type(date)) # datetime.datetime으로 타입이 변경된 것을 확인

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [ ]:
# 246
# time 모듈, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.

import time
import datetime

now = datetime.datetime.now()
now

for i in range(20) :
    time.sleep(1)
    print(now)

2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129
2022-04-30 07:12:48.685129

In [ ]:
# 247
# 모듈을 임포트하는 4가지 방식에 대해 설명해보세요.

# 1. import 모듈 --> 권장
# 2. import 모듈 as 모듈별칭
# 3. from 모듈 import 해당 모듈 중 사용할 것
# 4. from 모듈 import * (* 안에 있는 것을 다 가져와라) --> 권장 X, 파이썬 인터프리터가 정확히 인식하지 못하는 경우가 생김

In [ ]:
# 248
# os 모듈의 getcwd 함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보세요.

import os

os.getcwd()

'/content'

In [ ]:
# 249
# 바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.

import os

os.rename('C:/Users/0108s/Desktop/test.txt', 'C:/Users/0108s/Desktop/after.txt')

# 위치 일치하는데.. 오류

FileNotFoundError: ignored

In [ ]:
# 250
# numpy 모듈의 arange 함수를 사용해서 0.0 부터 5.0까지 0.1씩 증가하는 값을 화면에 출력해보세요.

import numpy as np

for i in np.arange(0, 5, 0.1) :
    print(round(i,1))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
2.0
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
4.0
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9

# 251~260 파이썬 클래스

In [ ]:
# 251
# 클래스, 객체, 인스턴스에 대해 설명해봅시다.

# 클래스는 비슷한 역할을 하는 함수를 모아놓은 서랍장, 객체나 인스턴스의 설계도
# 객체는 클래스에서 만들어진 것
# 인스턴스 어떤 클래스에서부터 만들어진 것인지 강조하고 싶을 때 사용, 꼭 그런거는 아님

# 즉, 클래스로부터 만들어진 것을 object, 객체, 인스턴스 라고 한다.

In [ ]:
# 252
# 비어있는 사람 (Human) 클래스를 "정의" 해보세요.

class Human :
    pass

In [ ]:
# 253
# 사람 (Human) 클래스의 인스턴스를 "생성" 하고 이를 areum 변수로 바인딩해보세요.

class Human :
    pass

areum = Human()

In [ ]:
# 254
# 사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

class Human :
    def __init__(self) : # 생성자
        print('응애응애') # 파이썬 인터프리터가 자동으로 호출함

areum = Human() # 클래스명() == 객체 생성

# self는 생성된 areum을 바인딩하게 됨

응애응애

In [ ]:
# 255
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

class Human :
    def __init__(self, 이름, 나이, 성별) :
        self.name = 이름
        self.age = 나이
        self.sex = 성별

areum = Human('아름', 25, '여자') # areum 객체 생성

print(areum.name)

아름

In [ ]:
# 256
# 255에서 생성한 인스턴스의 이름, 나이, 성별을 출력하세요. 
# 인스턴스 변수에 접근하여 값을 출력하면 됩니다.

class Human :
    def __init__(self, name, age, sex) :
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('아름', 25, '여자')

print(areum.name, areum.age, areum.sex)

아름 25 여자

In [ ]:
# 257
# 사람 (Human) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하세요.

class Human :
    def __init__(self, name, age, sex) :
        self.name = name
        self.age = age
        self.sex = sex
    
    def who(self) :
        print(f'이름: {self.name} 나이: {self.age} 성별: {self.sex}')

areum = Human('아름', 25, '여')

print(areum.who())

이름: 아름 나이: 25 성별: 여
None

In [ ]:
# 258
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

class Human :
    def __init__(self, name, age, sex) :
        self.name = name
        self.age = age
        self.sex = sex

    def who(self) :
        print(f'이름: {self.name} 나이: {self.age} 성별: {self.sex}')

    def setinfo(self, name, age, sex) :
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("모름", 0, "모름")
print(areum.who(), type(areum.who()))

areum.setinfo("아름", 25, "여자")
print(areum.who(), type(areum.who()))

('모름', 0, '모름') <class 'tuple'>
('아름', 25, '여자') <class 'tuple'>

In [ ]:
# 259
# 사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

class Human :
    def __init__(self, name, age, sex) : # __init__ : 생성자
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self) : # __del__ : 소멸자
        print('나의 죽음을 알리지마라')

    def who(self) :
        print(f'이름: {self.name} 나이: {self.age} 성별: {self.sex}')

    def setinfo(self, name, age, sex) :
        self.name = name
        self.age = age
        self.sex = sex

areum = Human('아름', 25, '여')
print(areum.who())
del(areum)

('아름', 25, '여')
나의 죽음을 알리지마라

In [ ]:
# 260 
# 아래와 같은 에러가 발생한 원인에 대해 설명하세요.

class OMG : 
    def print() :
        print("Oh my god")

# >>> >>> myStock = OMG()
# >>> myStock.print()
# TypeError Traceback (most recent call last)
# <ipython-input-233-c85c04535b22> in <module>()
# ----> myStock.print()

# TypeError: print() takes 0 positional arguments but 1 was given

myStock = OMG()
myStock.print() # 파이썬 인터프리터가 자동으로 OMG.print(myStock)로 변환

# 정의된 print 함수는 self 매개변수가 없는데, myStock.print()는 OMG.print(myStock)로 myStock을 인자로 받아서 오류 발생

TypeError: ignored

# 261~270 파이썬 클래스 2

In [ ]:
# 261
# 주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 
# 클래스는 속성과 메서드를 갖고 있지 않습니다.

class Stock :
    pass

In [ ]:
# 262
# Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.

class Stock :
    def __init__(self, name, code) :
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")

print(삼성.name)
print(삼성.code)

삼성전자
005930

In [ ]:
# 263
# 객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.

class Stock :
    def __init__(self, name, code) :
        self.name = name
        self.code = code
    
    def set_name(self, name) :
        self.name = name

a = Stock(None, None)
a.set_name('삼성전자')
print(a.name)

삼성전자

In [ ]:
# 264
# 객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.

class Stock :
    def __init__(self, name, code) :
        self.name = name
        self.code = code
    
    def set_name(self, name) :
        self.name = name

    def set_code(self, code) :
        self.code = code

my = Stock(None, None)
my.set_code('005930')
print(my.code)

005930

In [ ]:
# 265
# 종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 
# 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.

class Stock :
    def __init__(self, name, code) :
        self.name = name
        self.code = code
    
    def set_name(self, name) :
        self.name = name

    def set_code(self, code) :
        self.code = code

    def get_name(self) :
        return self.name 

    def get_code(self) :
        return self.code

my = Stock('삼성전자', '005930')
print(my.get_name())
print(my.get_code())

삼성전자
005930

In [ ]:
# 266
# 생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. 
# PER, PBR, 배당수익률은 float 타입입니다.

class Stock :
    def __init__(self, name, code, per, pbr, 배당수익률) :
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    
    def set_name(self, name) :
        self.name = name

    def set_code(self, code) :
        self.code = code

    def get_name(self) :
        return self.name 

    def get_code(self) :
        return self.code

In [ ]:
# 267
# 266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.


# 항목	정보
# 종목명	삼성전자
# 종목코드	005930
# PER	15.79
# PBR	1.33
# 배당수익률	2.83

class Stock :
    def __init__(self, name, code, per, pbr, 배당수익률) :
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    
    def set_name(self, name) :
        self.name = name

    def set_code(self, code) :
        self.code = code

    def get_name(self) :
        return self.name 

    def get_code(self) :
        return self.code

my = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
print(my.name, my.code, my.per, my.pbr, my.배당수익률)

삼성전자 005930 15.79 1.33 2.83

In [ ]:
# 268
# PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 
# 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.

class Stock :
    def __init__(self, name, code, per, pbr, 배당수익률) :
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    
    def set_name(self, name) :
        self.name = name

    def set_code(self, code) :
        self.code = code

    def get_name(self) :
        return self.name 

    def get_code(self) :
        return self.code

    def set_per(self, per) :
        self.per = per

    def set_pbr(self, pbr) :
        self.pbr = pbr

    def set_dicidend(self, 배당수익률) :
        self.dicidend = 배당수익률

In [ ]:
# 269
# 267번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.

class Stock :
    def __init__(self, name, code, per, pbr, 배당수익률) :
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    
    def set_name(self, name) :
        self.name = name

    def set_code(self, code) :
        self.code = code

    def get_name(self) :
        return self.name 

    def get_code(self) :
        return self.code

    def set_per(self, per) :
        self.per = per

    def set_pbr(self, pbr) :
        self.pbr = pbr

    def set_dicidend(self, 배당수익률) :
        self.dicidend = 배당수익률


my = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
my.set_per('12.75')
print(my.per)

12.75

In [ ]:
# 270
# 아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요. 
# 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.

# 종목명	종목코드	PER	PBR	배당수익률
# 삼성전자	005930	15.79	1.33	2.83
# 현대차	005380	8.70	0.35	4.27
# LG전자	066570	317.34	0.69	1.37

class Stock :
    def __init__(self, name, code, per, pbr, 배당수익률) :
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    
    def set_name(self, name) :
        self.name = name

    def set_code(self, code) :
        self.code = code

    def get_name(self) :
        return self.name 

    def get_code(self) :
        return self.code

    def get_per(self) :
        return self.per

    def set_per(self, per) :
        self.per = per

    def set_pbr(self, pbr) :
        self.pbr = pbr

    def set_dicidend(self, 배당수익률) :
        self.dicidend = 배당수익률


삼성 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
현대 = Stock('현대차', '005380', 8.70, 0.35, 4.27)
LG = Stock('LG전자', '066570', 317.34, 0.69, 1.37)

my_list = [삼성, 현대, LG]

for i in my_list :
    print('종목코드:',i.get_code())
    print('PER: ',i.get_per())
    print('')

# 정답코드

종목 = []

삼성 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
현대 = Stock('현대차', '005380', 8.70, 0.35, 4.27)
LG = Stock('LG전자', '066570', 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대)
종목.append(LG)

for i in 종목 :
    print(i.code, i.per)

종목코드: 005930
PER:  15.79

종목코드: 005380
PER:  8.7

종목코드: 066570
PER:  317.34

005930 15.79
005380 8.7
066570 317.34

# 271~280 파이썬 클래스 3

In [ ]:
# 271
# 은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. 
# Account 클래스를 생성한 후 생성자를 구현해보세요. 
# 생성자에서는 예금주와 초기 잔액만 입력 받습니다. --> 파라미터 self 포함 3개만 존재
# 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.

import random

class Account :
    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

my = Account('최윤아', '10000')

print(my.name)
print(my.balance)
print(my.bank)
print(my.account_num)

최윤아
10000
SC은행
278-32-151759

In [ ]:
# string zfill method 코드예제

txt = "50"

x = txt.zfill(10)

print(x)

# string zfill method : Fill the string with zeros until it is 10 characters long

0000000050

In [ ]:
# 272
# 클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.
# 클래스 변수 --> 클래스 내에 선언된 변수

import random

class Account :

    account_count = 0

    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1

my1 = Account("최윤아", 10000)
print(Account.account_count)
my2 = Account("최윤어", 20000)
print(Account.account_count)

1
2

In [ ]:
# 273
# Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

import random

class Account :

    account_count = 0

    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1

    def get_account_num(self) :
        print(self.account_count)


kim = Account("최윤아", 10000)
lee = Account("최윤어", 20000)
kim.get_account_num()

2

In [ ]:
# 274
# Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.

import random

class Account :

    account_count = 0

    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1

    def get_account_num(self) :
        print(self.account_count)

    def deposit(self, amount) :
        if int(amount) >= 1:
            self.balance += amount

In [ ]:
# 275
# Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.


import random

class Account :

    account_count = 0

    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1

    def get_account_num(self) :
        print(self.account_count)

    def deposit(self, amount) :
        if int(amount) >= 1:
            self.balance += amount

    def withdraw(self, amount) :
        if int(self.balance) > int(amount):
            self.balance -= amount

a = Account('최윤아', 20000)
a.deposit(5000)
a.withdraw(15000)
print(a.balance)

10000

In [ ]:
# 276
# Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드를 추가하세요. 
# 잔고는 세자리마다 쉼표를 출력하세요.

# 은행이름: SC은행
# 예금주: 파이썬
# 계좌번호: 111-11-111111
# 잔고: 10,000원

import random

class Account :

    account_count = 0

    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1

    def get_account_num(self) :
        print(self.account_count)

    def deposit(self, amount) :
        if int(amount) >= 1:
            self.balance += amount

    def withdraw(self, amount) :
        if int(self.balance) > int(amount):
            self.balance -= amount

    def display_info(self) :
        print('은행이름: ', self.bank)
        print('예금주: ', self.name)
        print('계좌번호: ',self.account_num)
        print('잔고: ',self.balance)


my = Account('최윤아', 50000)
print(my.name)
print(my.balance)
print(my.bank)
print(my.account_num)
print('')
my.display_info()

최윤아
50000
SC은행
329-23-616925

은행이름:  SC은행
예금주:  최윤아
계좌번호:  329-23-616925
잔고:  50000

In [ ]:
# 277
# 입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드를 변경해보세요.

import random

class Account :

    account_count = 0

    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1
        self.deposit_count = 0

    def get_account_num(self) :
        print(self.account_count)

    def deposit(self, amount) :
        if int(amount) >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0 :
                self.balance = (self.balance * 1.01)

    def withdraw(self, amount) :
        if int(self.balance) > int(amount):
            self.balance -= amount

    def display_info(self) :
        print('은행이름: ', self.bank)
        print('예금주: ', self.name)
        print('계좌번호: ',self.account_num)
        print('잔고: ',self.balance)

p = Account('최윤아', 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [ ]:
# 278
# Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장해보세요.

my_account = [] 

a = Account('짱구', 900000)
b = Account('짱아', 2000000)
c = Account('흰둥이', 3000000)

my_account.append(a)
my_account.append(b)
my_account.append(c)

print(my_account)

[<__main__.Account object at 0x7f7663208990>, <__main__.Account object at 0x7f7663208dd0>, <__main__.Account object at 0x7f76631d4950>]

In [ ]:
# 279
# 반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 출력하세요.

for i in my_account :
    if i.balance >= 1000000 :
        print(i.display_info())

은행이름:  SC은행
예금주:  짱아
계좌번호:  056-26-712954
잔고:  2000000
None
은행이름:  SC은행
예금주:  흰둥이
계좌번호:  120-96-568474
잔고:  3000000
None

In [ ]:
# 280
# 입금과 출금 내역이 기록되도록 코드를 업데이트 하세요. 
# 입금 내역과 출금 내역을 출력하는 deposit_history와 withdraw_history 메서드를 추가하세요.

import random

class Account :

    account_count = 0

    def __init__(self, name, balance) :
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_num = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []


    def get_account_num(self) :
        print(self.account_count)

    def deposit(self, amount) :
        if int(amount) >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0 :
                self.balance = (self.balance * 1.01)

    def withdraw(self, amount) :
        if int(self.balance) > int(amount):
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self) :
        print('은행이름: ', self.bank)
        print('예금주: ', self.name)
        print('계좌번호: ',self.account_num)
        print('잔고: ',self.balance)


    def deposit_history(self) :
        for i in self.deposit_log :
            print(i)

    def withdraw_history(self) :
        for j in self.withdraw_log :
            print(j)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()
print('')
k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300

100
200

# 281~290 파이썬 클래스 4

In [ ]:
# 281
# 다음 코드가 동작하도록 차 클래스를 정의하세요.

# >> car = 차(2, 1000)
# >> car.바퀴
# 2
# >> car.가격
# 1000

class 차 :
    def __init__(self, 바퀴, 가격) :
        self.바퀴 = 바퀴
        self.가격 = 가격

car = 차(2, 1000)
print(car.바퀴, car.가격)

2 1000

In [ ]:
# 282
# 차 클래스를 상속받은 자전차 클래스를 정의하세요.

class 차 :
    def __init__(self, 바퀴, 가격) :
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차) :
    pass

In [ ]:
# 283
# 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

# >> bicycle = 자전차(2, 100)
# >> bicycle.가격
# 100

class 차 :
    def __init__(self, 바퀴, 가격) :
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차) :
    def __init__(self, 바퀴, 가격) :
        self.바퀴 = 바퀴
        self.가격 = 가격

bicycle = 자전차(2, 100)
print( bicycle.가격)

100

In [ ]:
# 284
# 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

# >> bicycle = 자전차(2, 100, "시마노")
# >> bicycle.구동계
# 시마노

class 차 :
    def __init__(self, 바퀴, 가격) :
        self.바퀴 = 바퀴
        self.가격 = 가격

class 자전차(차) :
    def __init__(self, 바퀴, 가격, 구동계) :
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")    
bicycle.구동계

# 정답코드

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        #차.__init__(self, 바퀴, 가격)
        self.구동계 = 구동계

'시마노'

- super().__init __()이라는 코드가 다른 클래스의 속성 및 메소드를 자동으로 불러와 해당 클래스에서도 사용이 가능하도록 해줍니다.

- 위 코드에 따르면 super().__init __(바퀴, 가격) == 차.__ init __(self, 바퀴, 가격)

In [ ]:
# 285
# 다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의하세요.

# >> car = 자동차(4, 1000)
# >> car.정보()
# 바퀴수 4
# 가격 1000

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계


class 자동차(차):
    def __init__(self,바퀴, 가격):
        super().__init__(바퀴,가격)
    
    def 정보(self) :
        print('바퀴수', self.바퀴)
        print('가격', self.가격)


car = 자동차(4, 1000)     
car.정보()

바퀴수 4
가격 1000

In [ ]:
# 286
# 다음 코드가 동작하도록 차 클래스를 수정하세요.

# >> bicycle = 자전차(2, 100, "시마노")
# >> bicycle.정보()
# 바퀴수 2
# 가격 100

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self) :
        print('바퀴수', self.바퀴)
        print('가격', self.가격)


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계


class 자동차(차):
    def __init__(self,바퀴, 가격):
        super().__init__(바퀴,가격)



bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

In [ ]:
# 287
# 자전차의 정보() 메서드로 구동계 정보까지 출력하도록 수정해보세요.

# >> bicycle = 자전차(2, 100, "시마노")
# >> bicycle.정보()
# 바퀴수 2
# 가격 100
# 구동계 시마노

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self) :
        print('바퀴수', self.바퀴)
        print('가격', self.가격)

class 자동차(차):
    def __init__(self,바퀴, 가격):
        super().__init__(바퀴,가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

    def 정보(self) :
        super().정보()
        print('구동계', self.구동계)



bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [ ]:
# 288
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

나 = 자식()
나.호출()


# 예측
# 자식호출

자식호출

In [ ]:
# 289
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")

나 = 자식()


# 예측
# 자식생성

자식생성

In [ ]:
# 290
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()


# 예측
# 자식생성
# 부모생성

자식생성
부모생성

# 291~300 파일 입출력과 예외처리

In [ ]:
# 291
# 바탕화면에 '매수종목1.txt' 파일을 생성한 후 다음과 같이 종목코드를 파일에 써보세요.

f = open('C:\Users\0108sally\Desktop\매수종목1.txt', mode='wt', encoding='utf-8')

SyntaxError: ignored