# 101~200 파이썬 분기문

In [ ]:
# 101. 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# boolean 데이터 타입

In [ ]:
# 102. 아래 코드의 출력 결과를 예상하라
# print(3 == 5)

# False

In [ ]:
# 103. 아래 코드의 출력 결과를 예상하라
# print(3 < 5)

# True

In [ ]:
# 104. 아래 코드의 결과를 예상하라.
# x = 4
# print(1 < x < 5)

# True

In [ ]:
# 105. 아래 코드의 결과를 예상하라.
# print ((3 == 3) and (4 != 3))

# True

In [ ]:
# 106. 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.
# print(3 => 4)

# =>이 아닌 >=로 작성해야함

In [ ]:
# 107.아래 코드의 출력 결과를 예상하라
# if 4 < 3:
#     print("Hello World")

# 아무것도 출력하지 않음, 조건을 만족하지 않기 떄문

In [ ]:
# 108. 아래 코드의 출력 결과를 예상하라
# if 4 < 3:
#     print("Hello World.")
# else:
#     print("Hi, there.")


# Hi, there.

In [ ]:
# 109. 아래 코드의 출력 결과를 예상하라

# if True :
#     print ("1")
#     print ("2")
# else :
#     print("3")
# print("4")


# 1
# 2
# 4

In [ ]:
# 110. 아래 코드의 출력 결과를 예상하라

# if True :
#     if False:
#         print("1")
#         print("2")
#     else:
#         print("3")
# else :
#     print("4")
# print("5")


# 3
# 5

# 111 ~ 120 파이썬 분기문 2

In [ ]:
# 111. 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
a = input('입력: ')
print(a*2)

입력:

In [ ]:
# 112. 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
a = input('숫자를 입력하세요: ')
print(int(a)+10)
print(type(a))
# input()함수는 입력 받은 값을 str형으로 나타냄

숫자를 입력하세요:

In [ ]:
# 113. 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.
a = int(input('입력: '))
if a % 2 == 0 :
    print('짝수')
else :
    print('홀수')

# input()함수는 type이 str형이므로 int로 형변환 후 연산

In [ ]:
# 114. 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

a = int(input('입력: '))
b = a + 20

if b > 255 :
    print(255)
else :
    print(b)

In [ ]:
# 115.
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 
# 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

a = int(input('입력: '))
b = a - 20

if b > 255 :
    print(255)
elif b < 0 :
    print(0)
else :
    print(b)

In [ ]:
# 116. 사용자로부터 입력 받은 시간이 정각인지 판별하라.
a = input('현재시간: ')

if a[-2:] == '00' :
    print('정각입니다.')
else :
    print('정각이 아닙니다.')

In [ ]:
# 117. 
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
# fruit = ["사과", "포도", "홍시"]

fruit = ["사과", "포도", "홍시"]

a = input('좋아하는 과일은? ')

if a in fruit :
        print('정답입니다.')
else :
    print('오답입니다.')

In [ ]:
# 118.
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 
# 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

a = input('입력: ')

if a in warn_investment_list :
    print('투자 경고 종목입니다.')
else : 
    print('투자 경고 종목이 아닙니다.')

In [ ]:
# 119.
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input('입력: ')

if a in fruit.keys() :
    print('정답입니다.')
else :
    print('오답입니다.')

fruit.keys()

# 딕셔너리의 key값만 가져오고 싶으면 딕셔너리이름.keys()

In [ ]:
# 120.
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input('입력: ')

if a in fruit.values() :
    print('정답입니다.')
else :
    print('오답입니다.')

fruit.values()

# 딕셔너리의 value값만 가져오고 싶으면 딕셔너리이름.values()

입력: 여름
오답입니다.

dict_values(['딸기', '토마토', '사과'])

# 121~130 파이썬 분기문 3

In [ ]:
# 121. 
# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 
# 대문자 일 경우, 소문자로 변경해서 출력하라.

a = input('입력: ')

if a.islower() :
    print(a.upper())
else :
    print(a.lower())

입력: A
a

In [ ]:
# 122. 
# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 
# 사용자로부터 score를 입력받아 학점을 출력하라.

# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

score = int(input("점수: "))

if 81 <= score <= 100 :
    my_score = 'A'
elif 61 <= score <= 80 :
    my_score = 'B'
elif 41 <= score <= 60 :
    my_score = 'C'
elif 21 <= score <= 40 :
    my_score = 'D'
else :
    my_score = 'E'

print(f'grade is {my_score}')

점수: 55
grade is C

In [ ]:
# 123.
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 
# 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.


# 통화명	환율
# 달러	1167
# 엔	1.096
# 유로	1268
# 위안	171

price = input('입력: ')

b = (price[-2:] == '달러')
c = (price[-1:] == '엔')
d = (price[-2:] == '유로')
e = (price[-2:] == '위안')

# int(b) * 1167
# int(c) * 1.096
# int(d) * 1268
# int(e) * 171

if b :
    print(int(price[:-3]) * 1167, '원')
elif c :
    print(int(price[:-2]) * 1.096, '원')
elif d :
    print(int(price[:-3]) * 1268, '원')
elif e :
    print(int(price[:-3]) * 171, '원')



# 정답 코드 1

환율 = {
    '달러' : 1167,
    '엔' : 1.096,
    '유로' : 1268,
    '위안' : 171
}

user = input('입력: ')
num,currency = user.split()
print(float(num) * 환율[currency], "원")


# 정답 코드 2 

user_in = input("입력:").split()

amount = user_in[0]
currency = user_in[1]

if currency == "달러" :
    ratio = 1167
elif currency == "엔" :
    ratio = 1.096
elif currency == "유로" :
    ratio = 1268
else :
    ratio = 171
print(ratio * int(amount), "원")

입력: 100 엔
109.60000000000001 원
입력: 100 엔
109.60000000000001 원
입력:100 엔
109.60000000000001 원

In [ ]:
# 124. 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

number1 = int(input())
number2 = int(input())
number3 = int(input())

if number1 >= number2 and number1 >= number3 :
    print(number1)
elif number2 >= number1 and number2 >= number3 :
    print(number2)
else :
    print(number3)

10
9
20
20

In [ ]:
# 125. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 
# 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

# 번호	통신사
# 011	SKT
# 016	KT
# 019	LGU
# 010	알수없음

user_num = input('휴대전화 번호 입력: ').split('-')

if user_num[0] == '011' :
    phone = 'SKT'
elif user_num[0] == '016' :
    phone = 'KT'
elif user_num[0] == '019' :
    phone = 'LGU' 
else :
    phone = '알수없음'
print(f'당신은 {phone}사용자입니다.')

휴대전화 번호 입력: 011-345-1922
당신은 SKT사용자입니다.

In [ ]:
# 126.
# 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 
# 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.
# 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라



# -	0	1	2	3	4	5	6	7	8	9
# 01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구


user_num = input('우편번호: ')
num = user_num[:3]

if num in ['010', '011', '012'] :
    print('강북구')
elif num in ['013', '014', '015'] :
    print('도봉구')
else :
    print('노원구')

우편번호: 01400
도봉구

In [ ]:
# 127.
# 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 
# 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

user_num = input('주민등록번호: ')
num = user_num[7:8]

if num in ['1', '3'] :
    print('남자')
else :
    print('여자')


# 정답 코드

user_num = input('주민등록번호: ')
num = user_num.split('-')[1]

if num[0] in ['1', '3'] :
    print('남자')
else :
    print('여자')

주민등록번호: 821010-1635210
남자
주민등록번호: 821010-3635210
남자

In [ ]:
# 128.
# 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 
# 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

# 지역코드	출생지
# 00 ~ 08	서울
# 09 ~ 12	부산


user_num = input('주민등록번호: ').split('-')
num = user_num[1]

if 0 <= int(num[1:3]) <= 8 :
    print('서울 입니다.')
else :
    print('서울이 아닙니다.')

주민등록번호: 861010-1015210
서울 입니다.

In [ ]:
# 129 
# 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 
# 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
# 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
# 다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

num = input('주민등록번호: ')
유효성 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3  + int(num[11])* 4 + int(num[12]) * 5
유효성1 = 11 - (  유효성 % 11 )

if 유효성1 == int(num[-1]) :
    print('유효한 주민등록번호입니다.')
else :
    print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [ ]:
# 130
# 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 
# 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

# Key Name	Description
# opening_price	최근 24시간 내 시작 거래금액
# closing_price	최근 24시간 내 마지막 거래금액
# min_price	최근 24시간 내 최저 거래금액
# max_price	최근 24시간 내 최고 거래금액

변동폭 = float(btc['max_price']) - float(btc['min_price']) 
장 = float(btc['opening_price']) + 변동폭

if 장 > float(btc['max_price']) :
    print('상승장')
else :
    print('하락장')

상승장

# 131~140 파이썬 반복문

In [ ]:
# 131. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

# 사과
# 귤
# 수박

사과
귤
수박

In [ ]:
# 132. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

#####
#####
#####

In [ ]:
# 133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C
A
B
C

In [ ]:
# 134. for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

변수 = 'A'
print("출력:", 변수)
변수 = 'B'
print("출력:", 변수)
변수 = 'C'
print("출력:", 변수)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [ ]:
# 135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 = 'A'
b = 변수.lower()
print("변환:", b)
변수 = 'B'
b = 변수.lower()
print("변환:", b)
변수 = 'C'
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [ ]:
# 136. 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in [10, 20, 30] :
    print(변수)

10
20
30
10
20
30

In [ ]:
# 137. 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

for i in range(10,31,10) :
    print(i)

10
20
30
10
20
30

In [ ]:
# 138. 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for i in range(10,31,10) :
    print(i);print('-'*7)

# 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [ ]:
# 139. 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)


print("++++")
for i in range(10,31,10) :
    print(i)

++++
10
20
30
++++
10
20
30

In [ ]:
# 140. 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

for i in range(4) :
    print('-' * 7)

-------
-------
-------
-------
-------
-------
-------
-------

# 141~150 파이썬 반복문 2

In [ ]:
# 141 
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
# 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
for i in 리스트:
  print(i + 10)

110
210
310

In [ ]:
# 142 
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

리스트 = ["김밥", "라면", "튀김"]
for i in 리스트 :
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
# 143 
# 리스트에 주식 종목이름이 저장돼 있다.
# 리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트 :
    print(len(i))

6
4
4

In [ ]:
# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트 :
    print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
# 145 
# 리스트에 동물 이름 저장돼 있다.
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.
# d
# c
# p

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트 :
    print(i[0])

d
c
p

In [ ]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.
# for문을 사용해서 다음과 같이 출력하라.
# 3 x 1
# 3 x 2
# 3 x 3

리스트 = [1, 2, 3]
for i in 리스트 :
    print(f'3 X {i}')

3 X 1
3 X 2
3 X 3

In [ ]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.
# for문을 사용해서 다음과 같이 출력하라.
# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

리스트 = [1, 2, 3]
for i in 리스트 :
    print(f'3 X {i} = {3 * i}')

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [ ]:
# 148 
# 리스트에는 네 개의 문자열이 바인딩돼 있다.
# for문을 사용해서 다음과 같이 출력하라.
# 나
# 다
# 라

리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:] :
    print(i)

나
다
라

In [ ]:
# 149
# 리스트에는 네 개의 문자열이 바인딩돼 있다.
# for문을 사용해서 다음과 같이 출력하라.
# 가
# 다

리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2] :
    print(i)

가
다

In [ ]:
# 150
# 리스트에는 네 개의 문자열이 바인딩돼 있다.
# for문을 사용해서 다음과 같이 출력하라.
# 라
# 다
# 나
# 가

리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1] :
    print(i)

라
다
나
가

# 151~160 파이썬 반복문 3

In [ ]:
# 151
# 리스트에는 네 개의 정수가 저장돼 있다.
# for문을 사용해서 리스트의 음수를 출력하라.
# -20
# -3

리스트 = [3, -20, -3, 44]
for i in 리스트[1:3] :
    print(i)

# 정답코드
리스트 = [3, -20, -3, 44]
for i in 리스트 :
    if i < 0 :
        print(i)

-20
-3
-20
-3

In [ ]:
# 152
# for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
for i in 리스트 :
    if i % 3 == 0 :
        print(i)

3

In [ ]:
# 153
# 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트 :
    if (i < 20) and (i % 3 == 0) :
        print(i)

12
18

In [ ]:
# 154
# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트 :
    if len(i) >= 3 :
        print(i)

study
python
language

In [ ]:
# 155
# 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for i in 리스트 :
    if i.isupper() : 
        print(i)

A
D

In [ ]:
# 156
# 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
for i in 리스트 :
    if i.islower() :
        print(i)

b
c

In [ ]:
# 157
# 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
for i in 리스트 :
    print(i.capitalize())


print('')

# 정답코드

for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

Dog
Cat
Parrot

In [ ]:
# 158
# 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트 :
    print(i.split('.')[0])

hello
ex01
intro

In [ ]:
# 159
# 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트 :
    if i[-2:] == '.h' :
        print(i)

# 정답코드
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트 :
    split = i.split('.')
    if split[1] == 'h' :
        print(i)

intra.h
define.h
intra.h
define.h

In [ ]:
# 160
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트 :
    if (i[-2:] == '.h') or (i[-2:] == '.c') :
        print(i)

# 정답코드
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h
intra.h
intra.c
define.h

# 161~170 파이썬 반복문 4

In [ ]:
# 161
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for i in range(100) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# 162
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

for i in range(2002,2051,4) :
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 163
# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

for i in range(3,31,3) :
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 164
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for i in range(99,-1,-1) :
    print(i)

# 정답코드
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# 165 
# for문을 사용해서 아래와 같이 출력하라.
# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9

for i in range(10) :
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166
# 구구단 3단을 출력하라.
# 3x1 = 3
# 3x2 = 6
# 3x3 = 9
# 3x4 = 12
# 3x5 = 15
# 3x6 = 18
# 3x7 = 21
# 3x8 = 24
# 3x9 = 27

for i in range(1, 10) :
    print(f'3 X {i} = {3 * i}')

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [ ]:
# 167
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.
# 3x1 = 3
# 3x3 = 9
# 3x5 = 15
# 3x7 = 21
# 3x9 = 27

for i in range(1,10,2):
    print(f'3 X {i} = {3 * i}')

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [ ]:
# 168
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
# 합 : 55

num = 0 # 전역변수, 글로벌변수
for i in range(1,11) :
    num += i
    if i == 10 :
        print('합:',num)

합: 55

In [ ]:
# 169
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

num = 0
for i in range(1,11,2) :
    num += i
    if i == 9 :
        print('합:',num)

합: 25

In [ ]:
# 170
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

num = 1
for i in range(1,11) :
    num *= i
    if i == 10 :
        print(num)

3628800

# 171~180 파이썬 반복문 5

In [ ]:
# 171
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# 32100
# 32150
# 32000
# 32500

price_list = [32100, 32150, 32000, 32500]
for i in range(4) :
    print(price_list[i])

# 정답코드
for i in range(len(price_list)) :
    print(price_list[i])

32100
32150
32000
32500
32100
32150
32000
32500

In [ ]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# 0 32100
# 1 32150
# 2 32000
# 3 32500

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)) :
    print(i, price_list[i])
print('')

# enumerate 사용
# enumerate : 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로 받아 인덱스 값을 포함하는 enumerate 객체를 리턴
for i, data in enumerate(price_list) :
    print(i, data)

0 32100
1 32150
2 32000
3 32500

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173 
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# 3 32100
# 2 32150
# 1 32000
# 0 32500

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)) :
    print( (len(price_list)-1)-i, price_list[i] )

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
# 100 32150
# 110 32000
# 120 32500

price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)) :
    if 1 <= i < 4 :
        print( '1'+str(i)+'0', price_list[i] )
print('')

# 정답코드

for i in range(1,4) :
    print(90 + 10 * i, price_list[i])

110 32150
120 32000
130 32500

100 32150
110 32000
120 32500

In [ ]:
# 175
# my_list를 아래와 같이 출력하라.
# 가 나
# 나 다
# 다 라

my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)) :
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [ ]:
# 176
# 리스트를 아래와 같이 출력하라.

# 가 나 다
# 나 다 라
# 다 라 마

my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2) :
    print( my_list[i], my_list[i+1], my_list[i+2] )

가 나 다
나 다 라
다 라 마

In [ ]:
# 177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.
# 라 다
# 다 나
# 나 가

my_list = ["가", "나", "다", "라"]

for i in range(1, len(my_list)) :
    print( my_list[-i], my_list[-(i+1)] )

라 다
다 나
나 가

In [ ]:
# 178
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 
# 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 
# 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
# 100
# 200
# 400

my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1) :
    print( abs(my_list[i+1]-my_list[i]) )

100
200
400

In [ ]:
# 179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2) :
    평균값 = abs((my_list[i-1] + my_list[i] + my_list[i+1]) / 3)
    print(평균값)

533.3333333333334
233.33333333333334
466.6666666666667
733.3333333333334

In [ ]:
# 180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 
# 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = [ ]
for i in range(len(low_prices)) :
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

# 181~190 파이썬 반복문 6

In [ ]:
# 181
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호

apart = [['101호', '102호'], ['201호','202호'], ['301호', '302호']]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
# 182
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = [ ["시가", 100, 200, 300], ["종가", 80, 210, 330] ]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [ ]:
# 183
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 
# 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = {
    '시가' : [100,200,300],
    '종가' : [80,210,330]
}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
# 184
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 
# 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.


# 10/10	80	110	70	90
# 10/11	210	230	190	200

stock = {
    '10/10' : [80, 110, 70, 90],
    '10/11' :  [210, 340, 190, 200]
}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 340, 190, 200]}

In [ ]:
# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

apart = [ [101, 102], [201, 202], [301, 302] ]


for i in range(len(apart)) :
    print(apart[i][0], '호');print(apart[i][1], '호')
print('')

# 정답코드, 이중 for문

for row in apart :
    for col in row :
        print(col,'호')

101 호
102 호
201 호
202 호
301 호
302 호

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1] :
     for j in i :
         print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187 
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1] :
    for j in i[::-1] :
        print(j, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    for j in i :
        print(j, '호');print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    for j in i :
        print(j, '호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart :
    for j in i :
        print(j, '호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

# 191~200 파이썬 반복문 7

In [ ]:
# 191

# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

# data = [
#     [ 2000,  3050,  2050,  1980],
#     [ 7500,  2050,  2050,  1980],
#     [15450, 15050, 15550, 14900]
# ]

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# ...


data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data :
    for j in i :
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
# 192
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# 1980.2772
# ----
# 7501.05
# 2050.2870000000003
# 2050.2870000000003
# 1980.2772
# ----
# 15452.163
# 15052.107
# 15552.177
# 14902.086000000001
# ----

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data :
    for j in i :
        print(j*1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

# >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data :
    for j in i :
        result.append(j*1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
# 194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 
# 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

# >> print(result)
# [
#  [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
#  [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
#  [15452.163, 15052.107, 15552.177, 14902.086000000001]
# ]

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data :
    sub = []
    for j in i :
        sub.append(j*1.00014)
    result.append(sub)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    print(i[-1])

100
190
310

In [ ]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if i[-1] > 150 :
        print(i[-1])

190
310

In [ ]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:] :
    if i[-1] >= i[0] :
        print(i[-1])

100
310

In [ ]:
# 198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for i in ohlc[1:] :
    변동폭 = i[1] - i[2]
    volatility.append(변동폭)

print(volatility)

# 정답코드, range 구문을 사용하여 풀기

volatility = []
for i in range(1,len(ohlc)) : # i = 1, i = 2, i = 3, i = 4 가 순서대로 assignment됨
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]
[40, 30, 10]

In [ ]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,len(ohlc)) :
    변동성 = ohlc[i][1] - ohlc[i][2]
    if ohlc[i][-1] > ohlc[i][0] :
        print(변동성)

# 정답코드

for i in ohlc[1:] :
    if i[-1] > i[0] :
        print(i[1]-i[2])

10
10

In [ ]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

총수익금 = 0
for i in ohlc[1:] :
    수익금 = i[0] - i[-1]
    총수익금 += 수익금
print(총수익금)

0